.browser{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    position: sticky;
    border: none;
}

.nav_bar_header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    padding: 0 24px;
}

.link_header{
    color: whitesmoke;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
}

.nav_list{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}